<!-- wp:template-part {"slug":"header","theme":"aviendha"} /-->

<!-- wp:woocommerce/coming-soon -->
<div class="wp-block-woocommerce-coming-soon"><!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|x-large"},"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--x-large);padding-bottom:var(--wp--preset--spacing--x-large)"><!-- wp:heading {"textAlign":"center","level":1,"fontSize":"x-large"} -->
<h1 class="wp-block-heading has-text-align-center has-x-large-font-size">Great things are on the horizon</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"secondary","fontSize":"medium"} -->
<p class="has-text-align-center has-secondary-color has-text-color has-medium-font-size">Our store is launching soon. Check back shortly.</p>
<!-- /wp:paragraph --></main>
<!-- /wp:group --></div>
<!-- /wp:woocommerce/coming-soon -->

<!-- wp:template-part {"slug":"footer","theme":"aviendha","tagName":"footer"} /-->
